In [190]:
import pandas as pd

import sys
import os

# Añadir la carpeta utils al path
sys.path.append(os.path.abspath("../utils"))

from functions import *

**Al DF de Ganix le faltan demasiadas columnas y datos así que he decidido no utlizarlo**

In [191]:
asier_running = pd.read_csv("../data/actividades_running_limpias/asier_running.csv")
ari_running = pd.read_csv("../data/actividades_running_limpias/ari_running.csv")
garmin_running = pd.read_csv("../data/actividades_running_limpias/garmin_running.csv")
log_running = pd.read_csv("../data/actividades_running_limpias/log_running.csv")

In [192]:
runs = pd.concat(
    [asier_running, ari_running, garmin_running, log_running],
    ignore_index=True
)

In [193]:
runs.head()

,runner,date,title,distance_km,duration_s,pace_s_km,avg_hr,avg_cadence,avg_stride_length_m,elevation_gain_m,laps
0,asier,2025-11-30 11:01:18,Santurce Carrera,14.96,4173.0,279.0,171.0,177.0,1.21,78.0,15
1,asier,2025-11-25 18:35:03,Bilbao - Tempo run,9.33,2812.0,301.0,157.0,168.0,1.18,16.0,10
2,asier,2025-11-23 13:32:50,Bilbao - Tirada larga,11.02,3619.0,328.0,146.0,168.0,1.09,47.0,12
3,asier,2025-11-20 18:06:46,Bilbao - Series cortas,8.99,2821.0,314.0,151.0,170.0,1.12,28.0,17
4,asier,2025-11-19 17:43:26,Bilbao - Trote muy suave,8.07,2572.0,319.0,147.0,175.0,1.07,110.0,9

In [194]:
runs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1186 entries, 0 to 1185
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   runner               1186 non-null   object
 1   date                 1186 non-null   object
 2   title                230 non-null    object
 3   distance_km          1186 non-null   float64
 4   duration_s           1186 non-null   float64
 5   pace_s_km            1186 non-null   float64
 6   avg_hr               1186 non-null   float64
 7   avg_cadence          1186 non-null   float64
 8   avg_stride_length_m  1186 non-null   float64
 9   elevation_gain_m     1177 non-null   float64
 10  laps                 1186 non-null   int64
dtypes: float64(7), int64(1), object(3)
memory usage: 102.1+ KB

In [195]:
runs.describe()

,distance_km,duration_s,pace_s_km,avg_hr,avg_cadence,avg_stride_length_m,elevation_gain_m,laps
count,1186.000000,1186.000000,1186.000000,1186.000000,1186.000000,1186.000000,1177.000000,1186.000000
mean,5.223293,2177.412896,414.787205,150.380270,172.488907,1.261514,58.913100,6.350759
std,4.018021,1665.935360,57.468444,14.440552,9.517012,0.206647,93.587307,4.874638
min,0.090000,43.000000,257.000000,102.000000,99.000000,0.754684,0.000000,1.000000
25%,2.120000,934.000000,391.114201,140.000000,168.250000,1.160000,10.500000,3.000000
50%,4.030000,1773.181030,422.000000,151.000000,173.000000,1.270000,30.000000,5.000000
75%,7.010000,3001.125977,447.000000,161.000000,177.000000,1.340000,68.200000,8.000000
max,42.709328,19536.839844,669.000000,188.000000,202.000000,2.130000,791.000000,43.000000

In [196]:
runs["date"] = pd.to_datetime(runs["date"])

In [197]:
runs["date"].dtype

dtype('<M8[ns]')

In [198]:
runs["time_of_day"] = runs["date"].apply(get_time_of_day)

In [199]:
runs[runs["avg_stride_length_m"] > 1.6].head()

,runner,date,title,distance_km,duration_s,pace_s_km,avg_hr,avg_cadence,avg_stride_length_m,elevation_gain_m,laps,time_of_day
239,garmin,2024-02-03 10:56:43,NaN,6.43,1903.0,296.0,151.0,168.0,1.95,154.0,7,mañana
395,garmin,2022-08-08 17:21:17,NaN,0.43,137.0,318.0,140.0,174.0,1.75,46.0,1,tarde
515,garmin,2021-06-22 16:41:59,NaN,0.87,283.0,325.0,162.0,177.0,1.68,167.0,1,tarde
516,garmin,2021-06-20 17:27:25,NaN,0.66,221.0,337.0,165.0,175.0,1.64,16.0,1,tarde
526,garmin,2021-06-09 16:29:17,NaN,0.16,43.0,275.0,130.0,165.0,2.13,7.0,1,tarde

In [200]:
runs["pace_min_km"] = runs["pace_s_km"] / 60
runs = runs[runs["distance_km"] > 1]
runs = runs[runs["avg_hr"] > 120]
runs = runs[runs["pace_min_km"] < 8.5]
runs = runs[runs["elevation_gain_m"] < 300]
runs = runs[runs["distance_km"] < 25]
runs = runs[runs["avg_stride_length_m"] < 1.8]

In [201]:
runs[runs["runner"] == "log"] = runs[runs["pace_min_km"] > 5]

In [202]:
runs.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1018 entries, 0 to 1185
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   runner               1006 non-null   object
 1   date                 1006 non-null   datetime64[ns]
 2   title                218 non-null    object
 3   distance_km          1006 non-null   float64
 4   duration_s           1006 non-null   float64
 5   pace_s_km            1006 non-null   float64
 6   avg_hr               1006 non-null   float64
 7   avg_cadence          1006 non-null   float64
 8   avg_stride_length_m  1006 non-null   float64
 9   elevation_gain_m     1006 non-null   float64
 10  laps                 1006 non-null   float64
 11  time_of_day          1006 non-null   object
 12  pace_min_km          1006 non-null   float64
dtypes: datetime64[ns](1), float64(9), object(3)
memory usage: 111.3+ KB

In [203]:
runs.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1018 entries, 0 to 1185
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   runner               1006 non-null   object
 1   date                 1006 non-null   datetime64[ns]
 2   title                218 non-null    object
 3   distance_km          1006 non-null   float64
 4   duration_s           1006 non-null   float64
 5   pace_s_km            1006 non-null   float64
 6   avg_hr               1006 non-null   float64
 7   avg_cadence          1006 non-null   float64
 8   avg_stride_length_m  1006 non-null   float64
 9   elevation_gain_m     1006 non-null   float64
 10  laps                 1006 non-null   float64
 11  time_of_day          1006 non-null   object
 12  pace_min_km          1006 non-null   float64
dtypes: datetime64[ns](1), float64(9), object(3)
memory usage: 111.3+ KB

In [204]:
runs = runs[(runs["laps"] - runs["distance_km"]) < 4]

Creamos eficiencia, (explicar)

In [205]:
runs["efficiency"] = runs["pace_s_km"] * runs["avg_hr"]

Creamos un DF de kms semanales acumulados y eficiencia media semanal

In [206]:
runs["year_week"] = runs["date"].dt.strftime("%G-%V")

In [207]:
weekly_km = (
    runs.groupby(["runner", "year_week"])["distance_km"]
      .sum()
      .reset_index()
      .rename(columns={"distance_km": "km_week"})
)
weekly_km

    runner year_week   km_week
0      ari   2024-24   2.82617
1      ari   2024-25   9.55316
2      ari   2024-26  20.42635
3      ari   2024-27  21.65778
4      ari   2024-28  21.70742
..     ...       ...       ...
288    log   2020-25  28.03000
289    log   2020-26  34.83000
290    log   2020-27  30.20000
291    log   2020-28  34.72000
292    log   2020-29  17.51000

[293 rows x 3 columns]

In [208]:
weekly_km["km_prev_week"] = (
    weekly_km
    .groupby("runner")["km_week"]
    .shift(1)
)
weekly_km

    runner year_week   km_week  km_prev_week
0      ari   2024-24   2.82617           NaN
1      ari   2024-25   9.55316       2.82617
2      ari   2024-26  20.42635       9.55316
3      ari   2024-27  21.65778      20.42635
4      ari   2024-28  21.70742      21.65778
..     ...       ...       ...           ...
288    log   2020-25  28.03000      37.37000
289    log   2020-26  34.83000      28.03000
290    log   2020-27  30.20000      34.83000
291    log   2020-28  34.72000      30.20000
292    log   2020-29  17.51000      34.72000

[293 rows x 4 columns]

In [209]:
weekly_eff = (
    runs.groupby(["runner", "year_week"])["efficiency"]
      .mean()
      .reset_index()
)

In [210]:
weekly_eff["eff_prev"] = weekly_eff.groupby("runner")["efficiency"].shift(1)
weekly_eff["eff_improvement"] = weekly_eff["eff_prev"] - weekly_eff["efficiency"]

eff_improvement - **Positivo** más eficiente

In [211]:
weekly_eff

    runner year_week    efficiency      eff_prev  eff_improvement
0      ari   2024-24  68018.160344           NaN              NaN
1      ari   2024-25  65883.555738  68018.160344      2134.604606
2      ari   2024-26  71210.903987  65883.555738     -5327.348248
3      ari   2024-27  69171.157961  71210.903987      2039.746026
4      ari   2024-28  67137.981829  69171.157961      2033.176132
..     ...       ...           ...           ...              ...
288    log   2020-25  63270.800000  63848.833333       578.033333
289    log   2020-26  64973.666667  63270.800000     -1702.866667
290    log   2020-27  62606.333333  64973.666667      2367.333333
291    log   2020-28  61956.500000  62606.333333       649.833333
292    log   2020-29  62158.333333  61956.500000      -201.833333

[293 rows x 5 columns]

Juntamos Km semanales y eficiencia media semanal para la hipotesis 3

In [212]:
weekly = weekly_km.merge(weekly_eff, on=["runner", "year_week"], how="left")

In [213]:
weekly.head()

,runner,year_week,km_week,km_prev_week,efficiency,eff_prev,eff_improvement
0,ari,2024-24,2.82617,NaN,68018.160344,NaN,NaN
1,ari,2024-25,9.55316,2.82617,65883.555738,68018.160344,2134.604606
2,ari,2024-26,20.42635,9.55316,71210.903987,65883.555738,-5327.348248
3,ari,2024-27,21.65778,20.42635,69171.157961,71210.903987,2039.746026
4,ari,2024-28,21.70742,21.65778,67137.981829,69171.157961,2033.176132

In [214]:
runs.columns

Index(['runner', 'date', 'title', 'distance_km', 'duration_s', 'pace_s_km',
       'avg_hr', 'avg_cadence', 'avg_stride_length_m', 'elevation_gain_m',
       'laps', 'time_of_day', 'pace_min_km', 'efficiency', 'year_week'],
      dtype='object')

In [215]:
cols = [
    "runner",
    "date",
    "pace_s_km",
    "efficiency",
    "avg_cadence",
    "avg_stride_length_m",
    "time_of_day"
]

df_final = runs[cols].copy()

In [216]:
rename_map = {
    "mañana": 0,
    "tarde": 1,
    "noche": 2,
}

In [217]:
df_final["time_of_day_int"] = df_final["time_of_day"].map(rename_map)

In [218]:
df_final.head()

,runner,date,pace_s_km,efficiency,avg_cadence,avg_stride_length_m,time_of_day,time_of_day_int
0,asier,2025-11-30 11:01:18,279.0,47709.0,177.0,1.21,mañana,0
1,asier,2025-11-25 18:35:03,301.0,47257.0,168.0,1.18,noche,2
2,asier,2025-11-23 13:32:50,328.0,47888.0,168.0,1.09,tarde,1
4,asier,2025-11-19 17:43:26,319.0,46893.0,175.0,1.07,tarde,1
5,asier,2025-11-13 18:35:58,368.0,55936.0,165.0,0.99,noche,2

In [219]:
runs.describe()

,date,distance_km,duration_s,pace_s_km,avg_hr,avg_cadence,avg_stride_length_m,elevation_gain_m,laps,pace_min_km,efficiency
count,978,978.000000,978.000000,978.000000,978.000000,978.000000,978.000000,978.000000,978.000000,978.000000,978.000000
mean,2021-04-28 11:03:22.294478336,5.593872,2322.331709,418.089958,150.965235,171.927419,1.241013,49.028036,6.403885,6.968166,63000.594959
min,2018-05-29 18:53:00,1.010000,309.900000,279.000000,121.000000,130.000000,0.754684,0.000000,1.000000,4.650000,40446.000000
25%,2019-01-18 15:39:15,3.000000,1223.934235,401.000000,141.000000,169.000000,1.172500,12.850000,4.000000,6.683333,57694.250000
50%,2020-05-27 05:40:30,4.445000,1880.500000,423.000000,151.000000,173.000000,1.270000,33.800000,5.000000,7.050000,63514.690520
75%,2023-09-11 00:38:54.249999872,7.340000,3154.250000,444.000000,161.000000,176.000000,1.330000,66.975000,8.000000,7.400000,68728.500000
max,2025-11-30 11:01:18,23.012971,10362.118164,509.000000,188.000000,190.000000,1.710000,299.000000,24.000000,8.483333,84420.000000
std,NaN,3.775141,1519.641995,42.356887,13.169737,7.423078,0.171278,52.038329,3.906987,0.705948,7571.828423

In [220]:
df_final.to_csv("../data/df_final.csv", index=False)
weekly.to_csv("../data/semanal.csv", index=False)

In [221]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 978 entries, 0 to 1185
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   runner               978 non-null    object
 1   date                 978 non-null    datetime64[ns]
 2   pace_s_km            978 non-null    float64
 3   efficiency           978 non-null    float64
 4   avg_cadence          978 non-null    float64
 5   avg_stride_length_m  978 non-null    float64
 6   time_of_day          978 non-null    object
 7   time_of_day_int      978 non-null    int64
dtypes: datetime64[ns](1), float64(4), int64(1), object(2)
memory usage: 68.8+ KB