In [1]:
import pandas as pd
import numpy as np

In [37]:
runners = pd.read_csv("raw-data-kaggle.csv", sep=";")
runners.head()

,athlete,gender,timestamp,distance (m),elapsed time (s),elevation gain (m),average heart rate (bpm)
0,18042525,M,15/12/2019 09:08,2965.8,812,17.4,150.3
1,18042525,M,10/12/2019 19:27,10020.8,3290,52.2,160.8
2,18042525,M,03/12/2019 19:46,12132.2,4027,249.0,148.9
3,18042525,M,26/11/2019 19:46,11631.5,4442,194.0,136.2
4,18042525,M,19/11/2019 19:45,11708.1,4022,250.7,146.0

In [38]:
runners.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42116 entries, 0 to 42115
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   athlete                   42116 non-null  int64
 1   gender                    41761 non-null  object
 2   timestamp                 42116 non-null  object
 3   distance (m)              42116 non-null  float64
 4   elapsed time (s)          42116 non-null  int64
 5   elevation gain (m)        42116 non-null  float64
 6   average heart rate (bpm)  23732 non-null  float64
dtypes: float64(3), int64(2), object(2)
memory usage: 2.2+ MB

In [2]:
runner_asier = pd.read_csv("Activities.csv")
runner_asier[["Cadencia de carrera media"]]

     Cadencia de carrera media
0                          165
1                          173
2                          170
3                          170
4                          118
..                         ...
131                        155
132                        159
133                        138
134                        150
135                         99

[136 rows x 1 columns]

In [32]:
runner_asier.columns

Index(['Tipo de actividad', 'Fecha', 'Favorito', 'Título', 'Distancia',
       'Calorías', 'Tiempo', 'Frecuencia cardiaca media', 'FC máxima',
       'TE aeróbico', 'Cadencia de carrera media',
       'Cadencia de carrera máxima', 'Ritmo medio', 'Ritmo óptimo',
       'Ascenso total', 'Descenso total', 'Longitud media de zancada',
       'GAP medio', 'Normalized Power® (NP®)', 'Training Stress Score®',
       'Potencia media', 'Potencia máxima', 'Pasos', 'Repeticiones totales',
       'Series totales', 'Descompresión', 'Mejor tiempo de vuelta',
       'Número de vueltas', 'Tiempo en movimiento', 'Tiempo transcurrido',
       'Altura mínima', 'Altura máxima'],
      dtype='object')

In [3]:
runner_asier.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136 entries, 0 to 135
Data columns (total 32 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Tipo de actividad           136 non-null    object
 1   Fecha                       136 non-null    object
 2   Favorito                    136 non-null    bool
 3   Título                      136 non-null    object
 4   Distancia                   136 non-null    float64
 5   Calorías                    136 non-null    object
 6   Tiempo                      136 non-null    object
 7   Frecuencia cardiaca media   136 non-null    int64
 8   FC máxima                   136 non-null    int64
 9   TE aeróbico                 136 non-null    float64
 10  Cadencia de carrera media   136 non-null    int64
 11  Cadencia de carrera máxima  136 non-null    int64
 12  Ritmo medio                 136 non-null    object
 13  Ritmo óptimo                136 non-null    object
 14  Ascenso total               136 non-null    object
 15  Descenso total              136 non-null    object
 16  Longitud media de zancada   136 non-null    float64
 17  GAP medio                   136 non-null    object
 18  Normalized Power® (NP®)     136 non-null    int64
 19  Training Stress Score®      136 non-null    float64
 20  Potencia media              136 non-null    int64
 21  Potencia máxima             136 non-null    int64
 22  Pasos                       136 non-null    object
 23  Repeticiones totales        136 non-null    object
 24  Series totales              136 non-null    object
 25  Descompresión               136 non-null    object
 26  Mejor tiempo de vuelta      136 non-null    object
 27  Número de vueltas           136 non-null    int64
 28  Tiempo en movimiento        136 non-null    object
 29  Tiempo transcurrido         136 non-null    object
 30  Altura mínima               136 non-null    object
 31  Altura máxima               136 non-null    object
dtypes: bool(1), float64(4), int64(8), object(19)
memory usage: 33.2+ KB

In [52]:
runner_asier_cadencia = runner_asier[
    (runner_asier["Cadencia de carrera media"] > 164) &
    (runner_asier["Frecuencia cardiaca media"] > 150) &
    (runner_asier["Frecuencia cardiaca media"] < 170)]

runner_asier_cadencia[["Ritmo medio"]]

    Ritmo medio
0          5:26
1          5:26
4          4:59
44         5:13
60         5:04
62         5:25
66         5:20
118        5:16