In [1]:
import pandas as pd
import numpy as np

In [2]:
ganix_running = pd.read_csv("../../data/actividades_running/ganix_running.csv")

In [3]:
ganix_running.head()

,Title,WorkoutType,WorkoutDescription,PlannedDuration,PlannedDistanceInMeters,WorkoutDay,CoachComments,DistanceInMeters,PowerAverage,PowerMax,...,PWRZone3Minutes,PWRZone4Minutes,PWRZone5Minutes,PWRZone6Minutes,PWRZone7Minutes,PWRZone8Minutes,PWRZone9Minutes,PWRZone10Minutes,Rpe,Feeling
0,AeR,Swim,"10x100 AeR 30""",NaN,1000.0,2025-01-13,soltar de ayer,1000.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,5.0
1,AeR 20-30',Run,fácil que hoy estarás tieso del domingo,0.333333,NaN,2025-01-14,NaN,4023.560059,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,5.0
2,Day off,Day Off,NaN,NaN,NaN,2025-01-15,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AeL1 45',Run,rodar fácil,0.750000,NaN,2025-01-16,NaN,8279.500000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN
4,AeL1,Swim,400 estilos 5x200 palas-pull 100 suaves,NaN,1500.0,2025-01-17,NaN,1525.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,3.0

In [4]:
ganix_running.WorkoutType.unique()

array(['Swim', 'Run', 'Day Off', 'Strength', 'Bike', 'Walk', 'Other'],
      dtype=object)

Ganix coger Run

In [5]:
ganix_running = ganix_running[ganix_running.WorkoutType == "Run"]

In [6]:
ganix_running.WorkoutType.unique()

array(['Run'], dtype=object)

In [7]:
ganix_running = ganix_running.dropna(axis=1, how="all")

In [8]:
ganix_running.info()

<class 'pandas.core.frame.DataFrame'>
Index: 94 entries, 1 to 352
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Title               93 non-null     object
 1   WorkoutType         94 non-null     object
 2   WorkoutDescription  83 non-null     object
 3   PlannedDuration     83 non-null     float64
 4   WorkoutDay          94 non-null     object
 5   CoachComments       2 non-null      object
 6   DistanceInMeters    80 non-null     float64
 7   AthleteComments     35 non-null     object
 8   TimeTotalInHours    81 non-null     float64
 9   VelocityAverage     80 non-null     float64
 10  CadenceAverage      80 non-null     float64
 11  HeartRateAverage    80 non-null     float64
 12  HeartRateMax        80 non-null     float64
 13  IF                  80 non-null     float64
 14  TSS                 80 non-null     float64
 15  HRZone1Minutes      80 non-null     float64
 16  HRZone2Minutes      80 non-null     float64
 17  HRZone3Minutes      80 non-null     float64
 18  HRZone4Minutes      80 non-null     float64
 19  HRZone5Minutes      80 non-null     float64
 20  HRZone6Minutes      80 non-null     float64
 21  HRZone7Minutes      80 non-null     float64
 22  Rpe                 59 non-null     float64
 23  Feeling             59 non-null     float64
dtypes: float64(18), object(6)
memory usage: 18.4+ KB

In [9]:
ganix_running.columns

Index(['Title', 'WorkoutType', 'WorkoutDescription', 'PlannedDuration',
       'WorkoutDay', 'CoachComments', 'DistanceInMeters', 'AthleteComments',
       'TimeTotalInHours', 'VelocityAverage', 'CadenceAverage',
       'HeartRateAverage', 'HeartRateMax', 'IF', 'TSS', 'HRZone1Minutes',
       'HRZone2Minutes', 'HRZone3Minutes', 'HRZone4Minutes', 'HRZone5Minutes',
       'HRZone6Minutes', 'HRZone7Minutes', 'Rpe', 'Feeling'],
      dtype='object')

In [10]:
# lista de columnas que queremos conservar
keep_cols = [
    'Title',
       'WorkoutDay', 'DistanceInMeters',
       'TimeTotalInHours', 'CadenceAverage',
       'HeartRateAverage',
]

# por si alguna no existe, hacemos intersección
keep_cols = [c for c in keep_cols if c in ganix_running.columns]

# nos quedamos solo con esas
ganix_running = ganix_running[keep_cols].copy()

In [11]:
ganix_running["distance_km"] = ganix_running["DistanceInMeters"] / 1000
ganix_running["duration_s"] = ganix_running["TimeTotalInHours"] * 3600

In [12]:
ganix_running["date"] = pd.to_datetime(ganix_running["WorkoutDay"])

In [13]:
ganix_running.drop(columns=["WorkoutDay", "DistanceInMeters", "TimeTotalInHours"], inplace=True)

In [14]:
ganix_running.head()

,Title,CadenceAverage,HeartRateAverage,distance_km,duration_s,date
1,AeR 20-30',170.0,149.0,4.02356,1351.999962,2025-01-14
3,AeL1 45',168.0,158.0,8.27950,2708.000064,2025-01-16
9,AeM 60',166.0,153.0,8.43258,3144.000006,2025-01-21
11,AeL1 45',166.0,145.0,7.45674,2735.000038,2025-01-23
13,Activación 30',170.0,153.0,5.60250,1823.999977,2025-01-25

In [15]:
ganix_running.info()

<class 'pandas.core.frame.DataFrame'>
Index: 94 entries, 1 to 352
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Title             93 non-null     object
 1   CadenceAverage    80 non-null     float64
 2   HeartRateAverage  80 non-null     float64
 3   distance_km       80 non-null     float64
 4   duration_s        81 non-null     float64
 5   date              94 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(4), object(1)
memory usage: 5.1+ KB

Tengo que borrar los nulos

In [16]:
ganix_running = ganix_running[ganix_running["distance_km"].notna()]

In [17]:
rename_map = {
    "Title": "title",
    "distance_km": "distance_km",
    "HeartRateAverage": "avg_hr",
    "CadenceAverage": "avg_cadence",
    "date": "date",
    "duration_s": "duration_s"
}

In [18]:
ganix_running = ganix_running.rename(columns=rename_map)

In [19]:
ganix_running["runner"] = "ganix"

In [20]:
final_cols = [
    "runner", "date", "title",
    "distance_km", "duration_s",
    "avg_hr", "avg_cadence"
]

ganix_running = ganix_running[final_cols]

In [21]:
ganix_running.head()

,runner,date,title,distance_km,duration_s,avg_hr,avg_cadence
1,ganix,2025-01-14,AeR 20-30',4.02356,1351.999962,149.0,170.0
3,ganix,2025-01-16,AeL1 45',8.27950,2708.000064,158.0,168.0
9,ganix,2025-01-21,AeM 60',8.43258,3144.000006,153.0,166.0
11,ganix,2025-01-23,AeL1 45',7.45674,2735.000038,145.0,166.0
13,ganix,2025-01-25,Activación 30',5.60250,1823.999977,153.0,170.0

In [22]:
ganix_running.info()

<class 'pandas.core.frame.DataFrame'>
Index: 80 entries, 1 to 352
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   runner       80 non-null     object
 1   date         80 non-null     datetime64[ns]
 2   title        79 non-null     object
 3   distance_km  80 non-null     float64
 4   duration_s   80 non-null     float64
 5   avg_hr       80 non-null     float64
 6   avg_cadence  80 non-null     float64
dtypes: datetime64[ns](1), float64(4), object(2)
memory usage: 5.0+ KB

In [23]:
ganix_running.to_csv("../../data/actividades_running_limpias/ganix_running.csv", index=False)