In [2]:
import pandas as pd
import numpy as np

import sys
import os

# Añadir la carpeta utils al path
sys.path.append(os.path.abspath("../../utils"))

from functions import *

In [3]:
log_running = pd.read_csv("../../data/actividades_running/activity_log.csv")

In [4]:
log_running.head()

,Activity Type,Date,Title,Distance,Calories,Time,Avg HR,Max HR,Avg Run Cadence,Max Run Cadence,Avg Pace,Best Pace,Elev Gain,Elev Loss,Avg Stride Length,Best Lap Time,Number of Laps
0,Running,7/15/20 9:41,Cherry Hill Running,6.00,530,0:43:55,141,160,176,182,7:19,6:20,169,173,1.26,00:02.3,7
1,Running,7/14/20 17:45,Cherry Hill Running,6.50,587,0:47:04,144,160,172,182,7:14,6:35,183,187,1.29,03:32.7,7
2,Running,7/13/20 18:57,Cherry Hill Running,5.01,392,0:40:29,128,151,170,180,8:05,5:49,124,124,1.17,00:04.1,6
3,Running,7/12/20 18:44,Cherry Hill Running,7.01,633,0:52:55,142,157,172,180,7:33,5:00,215,219,1.24,00:05.1,8
4,Running,7/11/20 19:35,Cherry Hill Running,5.19,419,0:41:35,129,143,170,178,8:01,6:48,76,80,1.18,01:27.1,6

In [5]:
log_running["Activity Type"].unique()

array(['Running', 'Cardio', 'Treadmill Running'], dtype=object)

In [6]:
log_running[log_running["Activity Type"] == "Cardio"]

,Activity Type,Date,Title,Distance,Calories,Time,Avg HR,Max HR,Avg Run Cadence,Max Run Cadence,Avg Pace,Best Pace,Elev Gain,Elev Loss,Avg Stride Length,Best Lap Time,Number of Laps
322,Cardio,1/28/19 12:29,Cardio,0.06,11,02:01.1,102,118,122,124,1.6,4.1,--,--,0.36,00:00.0,1
328,Cardio,1/24/19 16:57,Cardio,0.00,6,02:19.3,78,98,172,172,0.1,8.1,--,--,0.01,00:00.0,1
364,Cardio,1/11/19 16:28,Cardio,0.00,6,02:02.6,85,96,170,170,0.1,6.5,--,--,0.01,00:00.0,1
374,Cardio,1/7/19 10:36,Cardio,0.02,13,03:15.6,92,110,114,122,0.4,4.6,--,--,0.10,00:00.0,1
504,Cardio,9/29/18 10:59,Cardio,0.80,91,0:13:36,108,161,142,196,3.5,11.6,--,--,0.67,00:00.0,1
556,Cardio,9/1/18 12:43,Cardio,0.00,1,01:02.3,56,59,--,--,--,--,--,--,0.00,00:00.0,1
587,Cardio,8/17/18 15:08,Cardio,0.00,1,00:35.8,69,77,172,172,0.4,7.9,--,--,0.06,00:00.0,1

In [7]:
log_running[log_running["Activity Type"] == "Treadmill Running"]

,Activity Type,Date,Title,Distance,Calories,Time,Avg HR,Max HR,Avg Run Cadence,Max Run Cadence,Avg Pace,Best Pace,Elev Gain,Elev Loss,Avg Stride Length,Best Lap Time,Number of Laps
391,Treadmill Running,11/27/18 17:30,Treadmill Running,0.35,19,01:50.2,134,145,196,204,5:16,4:23,--,--,1.56,00:00.0,1
392,Treadmill Running,11/27/18 17:26,Treadmill Running,0.34,20,01:47.8,138,147,194,198,5:13,4:44,--,--,1.59,00:00.0,1
393,Treadmill Running,11/27/18 17:23,Treadmill Running,0.34,18,01:47.7,128,139,194,202,5:16,4:43,--,--,1.57,00:00.0,1
394,Treadmill Running,11/27/18 17:19,Treadmill Running,0.47,25,02:31.5,131,147,190,196,5:21,4:49,--,--,1.58,00:00.0,1
395,Treadmill Running,11/27/18 17:14,Treadmill Running,0.46,26,02:26.0,136,148,192,198,5:17,4:45,--,--,1.59,00:00.0,1
396,Treadmill Running,11/27/18 17:10,Treadmill Running,0.46,27,02:25.7,138,146,192,196,5:17,4:49,--,--,1.59,00:00.0,1
397,Treadmill Running,11/27/18 17:06,Treadmill Running,0.46,25,02:24.5,132,142,192,198,5:14,4:46,--,--,1.60,00:00.0,1
398,Treadmill Running,11/27/18 17:01,Treadmill Running,0.46,25,02:24.4,133,152,192,200,5:15,4:45,--,--,1.60,00:00.0,1
399,Treadmill Running,11/27/18 16:54,Treadmill Running,0.95,56,05:09.4,135,144,188,194,5:25,4:54,--,--,1.58,00:00.0,1
430,Treadmill Running,10/27/18 13:34,Treadmill Running,1.53,124,0:12:25,133,175,170,174,8:07,4:37,--,--,1.17,00:00.0,2

Log coger solo running

In [8]:
log_running = log_running[log_running["Activity Type"] == "Running"]

In [9]:
log_running["Activity Type"].unique()

array(['Running'], dtype=object)

In [10]:
log_running.info()

<class 'pandas.core.frame.DataFrame'>
Index: 672 entries, 0 to 688
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Activity Type      672 non-null    object
 1   Date               672 non-null    object
 2   Title              672 non-null    object
 3   Distance           672 non-null    float64
 4   Calories           672 non-null    object
 5   Time               672 non-null    object
 6   Avg HR             672 non-null    object
 7   Max HR             672 non-null    object
 8   Avg Run Cadence    672 non-null    object
 9   Max Run Cadence    672 non-null    object
 10  Avg Pace           672 non-null    object
 11  Best Pace          672 non-null    object
 12  Elev Gain          672 non-null    object
 13  Elev Loss          672 non-null    object
 14  Avg Stride Length  672 non-null    float64
 15  Best Lap Time      672 non-null    object
 16  Number of Laps     672 non-null    int64
dtypes: float64(2), int64(1), object(14)
memory usage: 94.5+ KB

In [11]:
log_running.columns

Index(['Activity Type', 'Date', 'Title', 'Distance', 'Calories', 'Time',
       'Avg HR', 'Max HR', 'Avg Run Cadence', 'Max Run Cadence', 'Avg Pace',
       'Best Pace', 'Elev Gain', 'Elev Loss', 'Avg Stride Length',
       'Best Lap Time', 'Number of Laps'],
      dtype='object')

In [12]:
# lista de columnas que queremos conservar
keep_cols = [
    'Date', 'Title', 'Distance', 'Time',
    'Avg HR', 'Avg Run Cadence', 'Avg Pace',
    'Elev Gain', 'Avg Stride Length',
    'Number of Laps'
]

# por si alguna no existe, hacemos intersección
keep_cols = [c for c in keep_cols if c in log_running.columns]

# nos quedamos solo con esas
log_running = log_running[keep_cols].copy()

In [13]:
log_running.head()

,Date,Title,Distance,Time,Avg HR,Avg Run Cadence,Avg Pace,Elev Gain,Avg Stride Length,Number of Laps
0,7/15/20 9:41,Cherry Hill Running,6.00,0:43:55,141,176,7:19,169,1.26,7
1,7/14/20 17:45,Cherry Hill Running,6.50,0:47:04,144,172,7:14,183,1.29,7
2,7/13/20 18:57,Cherry Hill Running,5.01,0:40:29,128,170,8:05,124,1.17,6
3,7/12/20 18:44,Cherry Hill Running,7.01,0:52:55,142,172,7:33,215,1.24,8
4,7/11/20 19:35,Cherry Hill Running,5.19,0:41:35,129,170,8:01,76,1.18,6

In [14]:
log_running.info()

<class 'pandas.core.frame.DataFrame'>
Index: 672 entries, 0 to 688
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               672 non-null    object
 1   Title              672 non-null    object
 2   Distance           672 non-null    float64
 3   Time               672 non-null    object
 4   Avg HR             672 non-null    object
 5   Avg Run Cadence    672 non-null    object
 6   Avg Pace           672 non-null    object
 7   Elev Gain          672 non-null    object
 8   Avg Stride Length  672 non-null    float64
 9   Number of Laps     672 non-null    int64
dtypes: float64(2), int64(1), object(7)
memory usage: 57.8+ KB

* Hay que limpiar TIME, algunos vienen en HH:MM:SS y otros solo MM:SS
* Hay que cambiar valores -- de todo el DF a nulos
* Borrar filas de nulos de las columnas que necesito si o si

In [15]:
log_running = log_running.replace("--", np.nan)

In [16]:
log_running =log_running.dropna(subset=["Avg HR", "Avg Run Cadence"])

In [17]:
log_running["Date"] = pd.to_datetime(log_running["Date"])
log_running["duration_s"] = log_running["Time"].apply(time_convert)
log_running["Avg HR"] = pd.to_numeric(log_running["Avg HR"])
log_running["Avg Run Cadence"] = pd.to_numeric(log_running["Avg Run Cadence"])
log_running["pace_min_km"] = log_running["Avg Pace"].apply(pace_to_float)
log_running["pace_s_km"] = log_running["pace_min_km"] * 60
log_running["pace_s_km"] = log_running["pace_min_km"] * 60

C:\Users\Asier\AppData\Local\Temp\ipykernel_15032\817981896.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  log_running["Date"] = pd.to_datetime(log_running["Date"])

In [18]:
log_running["Elev Gain"] = (log_running["Elev Gain"].str.replace(",", ""))
log_running["Elev Gain"] = pd.to_numeric(log_running["Elev Gain"])
log_running["Elev Gain"] = log_running["Elev Gain"] / 10

In [19]:
log_running.info()

<class 'pandas.core.frame.DataFrame'>
Index: 644 entries, 0 to 688
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               644 non-null    datetime64[ns]
 1   Title              644 non-null    object
 2   Distance           644 non-null    float64
 3   Time               644 non-null    object
 4   Avg HR             644 non-null    int64
 5   Avg Run Cadence    644 non-null    int64
 6   Avg Pace           644 non-null    object
 7   Elev Gain          635 non-null    float64
 8   Avg Stride Length  644 non-null    float64
 9   Number of Laps     644 non-null    int64
 10  duration_s         644 non-null    float64
 11  pace_min_km        644 non-null    float64
 12  pace_s_km          644 non-null    float64
dtypes: datetime64[ns](1), float64(6), int64(3), object(3)
memory usage: 70.4+ KB

In [20]:
log_running.drop(columns=["Time", "Avg Pace", "pace_min_km"], inplace=True)

In [21]:
log_running.columns

Index(['Date', 'Title', 'Distance', 'Avg HR', 'Avg Run Cadence', 'Elev Gain',
       'Avg Stride Length', 'Number of Laps', 'duration_s', 'pace_s_km'],
      dtype='object')

In [22]:
rename_map = {
    "Title": "title",
    "Distance": "distance_km",
    "Avg HR": "avg_hr",
    "Avg Run Cadence": "avg_cadence",
    "Date": "date",
    "Elev Gain": "elevation_gain_m",
    "Avg Stride Length": "avg_stride_length_m",
    "Number of Laps": "laps"
}

In [23]:
log_running = log_running.rename(columns=rename_map)

In [24]:
log_running["runner"] = "log"

In [25]:
final_cols = [
    "runner", "date",
    "distance_km", "duration_s", "pace_s_km",
    "avg_hr", "avg_cadence",
    "avg_stride_length_m", "elevation_gain_m", "laps"
]

log_running = log_running[final_cols]

In [26]:
log_running.head()

,runner,date,distance_km,duration_s,pace_s_km,avg_hr,avg_cadence,avg_stride_length_m,elevation_gain_m,laps
0,log,2020-07-15 09:41:00,6.00,2635.0,439.0,141,176,1.26,16.9,7
1,log,2020-07-14 17:45:00,6.50,2824.0,434.0,144,172,1.29,18.3,7
2,log,2020-07-13 18:57:00,5.01,2429.0,485.0,128,170,1.17,12.4,6
3,log,2020-07-12 18:44:00,7.01,3175.0,453.0,142,172,1.24,21.5,8
4,log,2020-07-11 19:35:00,5.19,2495.0,481.0,129,170,1.18,7.6,6

In [27]:
log_running.to_csv("../../data/actividades_running_limpias/log_running.csv", index=False)