In [1]:
import pandas as pd
import numpy as np

import sys
import os

# Añadir la carpeta utils al path
sys.path.append(os.path.abspath("../../utils"))

from functions import *

In [2]:
asier_running = pd.read_csv("../../data/actividades_running/asier_running.csv")

In [3]:
asier_running.head()

,Tipo de actividad,Fecha,Favorito,Título,Distancia,Calorías,Tiempo,Frecuencia cardiaca media,FC máxima,TE aeróbico,...,Pasos,Repeticiones totales,Series totales,Descompresión,Mejor tiempo de vuelta,Número de vueltas,Tiempo en movimiento,Tiempo transcurrido,Altura mínima,Altura máxima
0,Carrera,2025-11-30 11:01:18,False,Santurce Carrera,14.96,947,01:09:33,171,196,5.0,...,"12,268",--,--,No,00:04:06.2,15,01:09:30,01:09:33,-2,40
1,Carrera,2025-11-25 18:35:03,False,Bilbao - Tempo run,9.33,580,00:46:52,157,173,4.3,...,"7,902",--,--,No,00:01:49.3,10,00:46:42,00:47:00,--,24
2,Carrera,2025-11-23 13:32:50,False,Bilbao - Tirada larga,11.02,679,01:00:19,146,161,3.7,...,"10,092",--,--,No,00:00:18.9,12,01:00:02,01:00:19,1,41
3,Carrera,2025-11-20 18:06:46,False,Bilbao - Series cortas,8.99,550,00:47:01,151,181,4.0,...,"7,934",--,--,No,00:01:34.8,17,00:46:41,00:47:01,5,60
4,Carrera,2025-11-19 17:43:26,False,Bilbao - Trote muy suave,8.07,495,00:42:52,147,167,3.7,...,"7,516",--,--,No,00:00:21.2,9,00:42:42,00:43:30,-5,28

In [4]:
asier_running = asier_running.dropna(axis=1, how="all")

In [5]:
asier_running.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141 entries, 0 to 140
Data columns (total 32 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Tipo de actividad           141 non-null    object
 1   Fecha                       141 non-null    object
 2   Favorito                    141 non-null    bool
 3   Título                      141 non-null    object
 4   Distancia                   141 non-null    float64
 5   Calorías                    141 non-null    object
 6   Tiempo                      141 non-null    object
 7   Frecuencia cardiaca media   141 non-null    int64
 8   FC máxima                   141 non-null    int64
 9   TE aeróbico                 141 non-null    float64
 10  Cadencia de carrera media   141 non-null    int64
 11  Cadencia de carrera máxima  141 non-null    int64
 12  Ritmo medio                 141 non-null    object
 13  Ritmo óptimo                141 non-null    object
 14  Ascenso total               141 non-null    object
 15  Descenso total              141 non-null    object
 16  Longitud media de zancada   141 non-null    float64
 17  GAP medio                   141 non-null    object
 18  Normalized Power® (NP®)     141 non-null    int64
 19  Training Stress Score®      141 non-null    float64
 20  Potencia media              141 non-null    int64
 21  Potencia máxima             141 non-null    int64
 22  Pasos                       141 non-null    object
 23  Repeticiones totales        141 non-null    object
 24  Series totales              141 non-null    object
 25  Descompresión               141 non-null    object
 26  Mejor tiempo de vuelta      141 non-null    object
 27  Número de vueltas           141 non-null    int64
 28  Tiempo en movimiento        141 non-null    object
 29  Tiempo transcurrido         141 non-null    object
 30  Altura mínima               141 non-null    object
 31  Altura máxima               141 non-null    object
dtypes: bool(1), float64(4), int64(8), object(19)
memory usage: 34.4+ KB

In [6]:
asier_running.columns

Index(['Tipo de actividad', 'Fecha', 'Favorito', 'Título', 'Distancia',
       'Calorías', 'Tiempo', 'Frecuencia cardiaca media', 'FC máxima',
       'TE aeróbico', 'Cadencia de carrera media',
       'Cadencia de carrera máxima', 'Ritmo medio', 'Ritmo óptimo',
       'Ascenso total', 'Descenso total', 'Longitud media de zancada',
       'GAP medio', 'Normalized Power® (NP®)', 'Training Stress Score®',
       'Potencia media', 'Potencia máxima', 'Pasos', 'Repeticiones totales',
       'Series totales', 'Descompresión', 'Mejor tiempo de vuelta',
       'Número de vueltas', 'Tiempo en movimiento', 'Tiempo transcurrido',
       'Altura mínima', 'Altura máxima'],
      dtype='object')

In [7]:
# lista de columnas que queremos conservar
keep_cols = [
    'Tipo de actividad', 'Fecha', 'Título', 'Distancia',
       'Tiempo', 'Frecuencia cardiaca media',
       'Cadencia de carrera media',
       'Ritmo medio',
       'Ascenso total', 'Longitud media de zancada',
       'Número de vueltas',
       
]

# por si alguna no existe, hacemos intersección
keep_cols = [c for c in keep_cols if c in asier_running.columns]

# nos quedamos solo con esas
asier_running = asier_running[keep_cols].copy()

In [8]:
asier_running["Tipo de actividad"].unique()

array(['Carrera', 'Entrenamiento en cinta', 'Trail running'], dtype=object)

In [9]:
asier_running = asier_running[asier_running["Tipo de actividad"] == "Carrera"]

In [10]:
asier_running.head()

,Tipo de actividad,Fecha,Título,Distancia,Tiempo,Frecuencia cardiaca media,Cadencia de carrera media,Ritmo medio,Ascenso total,Longitud media de zancada,Número de vueltas
0,Carrera,2025-11-30 11:01:18,Santurce Carrera,14.96,01:09:33,171,177,4:39,78,1.21,15
1,Carrera,2025-11-25 18:35:03,Bilbao - Tempo run,9.33,00:46:52,157,168,5:01,16,1.18,10
2,Carrera,2025-11-23 13:32:50,Bilbao - Tirada larga,11.02,01:00:19,146,168,5:28,47,1.09,12
3,Carrera,2025-11-20 18:06:46,Bilbao - Series cortas,8.99,00:47:01,151,170,5:14,28,1.12,17
4,Carrera,2025-11-19 17:43:26,Bilbao - Trote muy suave,8.07,00:42:52,147,175,5:19,110,1.07,9

In [11]:
asier_running.info()

<class 'pandas.core.frame.DataFrame'>
Index: 132 entries, 0 to 140
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Tipo de actividad          132 non-null    object
 1   Fecha                      132 non-null    object
 2   Título                     132 non-null    object
 3   Distancia                  132 non-null    float64
 4   Tiempo                     132 non-null    object
 5   Frecuencia cardiaca media  132 non-null    int64
 6   Cadencia de carrera media  132 non-null    int64
 7   Ritmo medio                132 non-null    object
 8   Ascenso total              132 non-null    object
 9   Longitud media de zancada  132 non-null    float64
 10  Número de vueltas          132 non-null    int64
dtypes: float64(2), int64(3), object(6)
memory usage: 12.4+ KB

In [12]:
asier_running["date"] = pd.to_datetime(asier_running["Fecha"])

In [13]:
asier_running["duration_s"] = asier_running["Tiempo"].apply(time_convert)

In [14]:
asier_running["pace_min_km"] = asier_running["Ritmo medio"].apply(pace_to_float)
asier_running["pace_s_km"] = asier_running["pace_min_km"] * 60

In [15]:
asier_running["Ascenso total"] = pd.to_numeric(asier_running["Ascenso total"])

In [16]:
asier_running.drop(columns=["Tipo de actividad", "Fecha", "Tiempo","Ritmo medio", "pace_min_km"], inplace=True)

In [17]:
asier_running.head()

,Título,Distancia,Frecuencia cardiaca media,Cadencia de carrera media,Ascenso total,Longitud media de zancada,Número de vueltas,date,duration_s,pace_s_km
0,Santurce Carrera,14.96,171,177,78,1.21,15,2025-11-30 11:01:18,4173.0,279.0
1,Bilbao - Tempo run,9.33,157,168,16,1.18,10,2025-11-25 18:35:03,2812.0,301.0
2,Bilbao - Tirada larga,11.02,146,168,47,1.09,12,2025-11-23 13:32:50,3619.0,328.0
3,Bilbao - Series cortas,8.99,151,170,28,1.12,17,2025-11-20 18:06:46,2821.0,314.0
4,Bilbao - Trote muy suave,8.07,147,175,110,1.07,9,2025-11-19 17:43:26,2572.0,319.0

In [18]:
asier_running.info()

<class 'pandas.core.frame.DataFrame'>
Index: 132 entries, 0 to 140
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Título                     132 non-null    object
 1   Distancia                  132 non-null    float64
 2   Frecuencia cardiaca media  132 non-null    int64
 3   Cadencia de carrera media  132 non-null    int64
 4   Ascenso total              132 non-null    int64
 5   Longitud media de zancada  132 non-null    float64
 6   Número de vueltas          132 non-null    int64
 7   date                       132 non-null    datetime64[ns]
 8   duration_s                 132 non-null    float64
 9   pace_s_km                  132 non-null    float64
dtypes: datetime64[ns](1), float64(4), int64(4), object(1)
memory usage: 11.3+ KB

In [19]:
asier_running.columns

Index(['Título', 'Distancia', 'Frecuencia cardiaca media',
       'Cadencia de carrera media', 'Ascenso total',
       'Longitud media de zancada', 'Número de vueltas', 'date', 'duration_s',
       'pace_s_km'],
      dtype='object')

In [20]:
rename_map = {
    "Título": "title",
    "Distancia": "distance_km",
    "Frecuencia cardiaca media": "avg_hr",
    "Cadencia de carrera media": "avg_cadence",
    "Ascenso total": "elevation_gain_m",
    "Longitud media de zancada": "avg_stride_length_m",
    "Número de vueltas": "laps",
    "date": "date",
    "duration_s": "duration_s",
    "pace_s_km": "pace_s_km"
}

In [21]:
asier_running = asier_running.rename(columns=rename_map)

In [22]:
asier_running["runner"] = "asier"

In [23]:
final_cols = [
    "runner", "date", "title",
    "distance_km", "duration_s", "pace_s_km",
    "avg_hr", "avg_cadence",
    "avg_stride_length_m", "elevation_gain_m", "laps"
]

asier_running = asier_running[final_cols]

In [24]:
asier_running.head()

,runner,date,title,distance_km,duration_s,pace_s_km,avg_hr,avg_cadence,avg_stride_length_m,elevation_gain_m,laps
0,asier,2025-11-30 11:01:18,Santurce Carrera,14.96,4173.0,279.0,171,177,1.21,78,15
1,asier,2025-11-25 18:35:03,Bilbao - Tempo run,9.33,2812.0,301.0,157,168,1.18,16,10
2,asier,2025-11-23 13:32:50,Bilbao - Tirada larga,11.02,3619.0,328.0,146,168,1.09,47,12
3,asier,2025-11-20 18:06:46,Bilbao - Series cortas,8.99,2821.0,314.0,151,170,1.12,28,17
4,asier,2025-11-19 17:43:26,Bilbao - Trote muy suave,8.07,2572.0,319.0,147,175,1.07,110,9

In [25]:
asier_running.to_csv("../../data/actividades_running_limpias/asier_running.csv", index=False)